/*#########################   CSS RESET   ##########################################*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}

/*#########################   VARIABLES   ##########################################*/
:root {
  /*fonts*/
  --brand-font-size: 35px;
  --nav-font-size: 23px;
  --h1-size: 35px;
  --h2-size: 27px;
  --h3-size: 25px;
  --h4-size: 22px;
  --label-size: var(--h4-size);
  --p-size: 20px;
  --p-weight-normal: 100;
  --p-weight-semi: 450;
  --p-weight-bold: 900;
  --button-font-size: 18px;
}

body {
  /*text color*/
  --text-color-general: var(--theme-80contrast);
  --header-color-general: var(--text-color-general);
  --nav-color: var(--theme-80contrast);
  --h1-color: var(--header-color-general);
  --h2-color: var(--header-color-general);
  --h3-color: var(--header-color-general);
  --h4-color: var(--header-color-general);
  --p-color: var(--text-color-general);
  --a-color: var(--accent-color);
  --a-selected-color: var(--secondary-accent-color);

  --input-bg-correct: hsl(102, 16%, 64%);
  --input-bg-incorrect: hsl(0, 23%, 70%);
}

body.clar {
  --theme-maxcontrast: hsl(0, 0%, 0%);
  --theme-90contrast: hsl(0, 0%, 10%);
  --theme-80contrast: hsl(0, 0%, 20%);
  --theme-70contrast: hsl(0, 0%, 30%);
  --theme-60contrast: hsl(0, 0%, 40%);
  --theme-50contrast: hsl(0, 0%, 50%);
  --theme-40contrast: hsl(0, 0%, 60%);
  --theme-30contrast: hsl(0, 0%, 70%);
  --theme-20contrast: hsl(0, 0%, 80%);
  --theme-10contrast: hsl(0, 0%, 90%);
  --theme-mincontrast: hsl(0, 0%, 100%);
  --accent-color: hsl(0, 84%, 29%);
  --secondary-accent-color: yellow;

  /*base backgrounds*/
  --body-bg-color: var(--theme-mincontrast);
  --body-bg-image: url(https://www.dndbeyond.com/content/1-0-2187-0/skins/waterdeep/images/background_texture.png);
  --nav-bg-color: var(--theme-10contrast);
  --nav-link-bg-hover: 90%;
  --nav-bg-image: none;

  /*interactive colors*/
  --button-bg-fallback: yellow;
  --button-bg-base1: hsl(0, 91%, 35%);
  --button-bg-hover1: hsl(0, 91%, 55%);
  --button-bg-base2: hsl(125, 91%, 26%);
  --button-bg-hover2: hsl(125, 91%, 40%);
  --button-bg-base3: hsl(200, 91%, 35%);
  --button-bg-hover3: hsl(200, 91%, 55%);
  --nav-link-bg-clicked: var(--theme-40contrast);
  --input-border: var(--theme-maxcontrast);
  --input-bg-color: hsl(0, 0%, 80%);

  /*text color*/
  --text-color-general: var(--theme-80contrast);
  --header-color-general: var(--text-color-general);
  --h1-color: var(--header-color-general);
  --h2-color: var(--header-color-general);
  --h3-color: var(--header-color-general);
  --h4-color: var(--header-color-general);
  --p-color: var(--text-color-general);
  --a-color: var(--accent-color);
  --a-selected-color: var(--secondary-accent-color);
}

body.fosc {
  --theme-maxcontrast: hsl(0, 0%, 100%);
  --theme-90contrast: hsl(0, 0%, 90%);
  --theme-80contrast: hsl(0, 0%, 80%);
  --theme-70contrast: hsl(0, 0%, 70%);
  --theme-60contrast: hsl(0, 0%, 60%);
  --theme-50contrast: hsl(0, 0%, 50%);
  --theme-40contrast: hsl(0, 0%, 40%);
  --theme-30contrast: hsl(0, 0%, 30%);
  --theme-20contrast: hsl(0, 0%, 20%);
  --theme-10contrast: hsl(0, 0%, 10%);
  --theme-mincontrast: hsl(0, 0%, 0%);

  --body-bg-color: var(--theme-20contrast);
  --nav-bg-color: var(--theme-30contrast);

  --button-bg-fallback: hsl(60, 70%, 50%);
  --button-bg-base1: hsl(0, 50%, 35%);
  --button-bg-hover1: hsl(0, 50%, 55%);
  --button-bg-base2: hsl(125, 50%, 26%);
  --button-bg-hover2: hsl(125, 50%, 40%);
  --button-bg-base3: hsl(200, 50%, 38%);
  --button-bg-hover3: hsl(200, 50%, 55%);
  --nav-link-bg-hover: 130%;
  --nav-link-bg-clicked: var(--theme-50contrast);

  --accent-color: hsl(170, 100%, 50%);
  --secondary-accent-color: rgb(255, 8, 8);

  /*interactive colors*/

  --input-border: var(--theme-maxcontrast);
  --input-bg-color: hsl(0, 0%, 80%);
}

body.pergami {
  --HB-bg-color: #2c3e50;
  --PHB-bg-color: #f2ece4;
  --PHB-h1-color: #58180d;
  --PHB-td-color: #e0e5c1;
  --PHB-logo-color: #ed1c24;
  --PHB-underline-color: #f0bf48;
  --PHB-statblocklines: #9c2b1b;
  --redscroll: url(https://i.imgur.com/YvYGqOX.jpg);
  --bluescroll: url(https://i.imgur.com/w2m4BgW.jpg);
  --seascroll: url(https://i.imgur.com/dKciX3y.jpg);

  --theme-maxcontrast: hsl(0, 0%, 0%);
  --theme-90contrast: hsl(0, 0%, 10%);
  --theme-80contrast: hsl(0, 0%, 20%);
  --theme-70contrast: hsl(0, 0%, 30%);
  --theme-60contrast: hsl(0, 0%, 40%);
  --theme-50contrast: hsl(0, 0%, 50%);
  --theme-40contrast: hsl(0, 0%, 60%);
  --theme-30contrast: hsl(0, 0%, 70%);
  --theme-20contrast: hsl(0, 0%, 80%);
  --theme-10contrast: hsl(0, 0%, 90%);
  --theme-mincontrast: hsl(0, 0%, 100%);
  --accent-color: var(--PHB-statblocklines);
  --secondary-accent-color: var(--PHB-underline-color);

  /*base backgrounds*/
  --body-bg-color: var(--HB-bg-color);
  --body-bg-image: ;
  --content-bg-image: url("http://cruab/img/temes/scroll.jfif");
  --nav-bg-color: var(--theme-20contrast);
  --nav-link-bg-hover: 150%;

  --nav-bg-image: url("http://cruab/img/temes/redscroll.jpg");
  --footer-bg-image: var(--seascroll);
  --nav-shadow: 0px 0px 14px #000;

  /*interactive colors*/
  --button-bg-fallback: yellow;
  --button-bg-base1: hsl(0, 91%, 35%);
  --button-bg-hover1: hsl(0, 91%, 55%);
  --button-bg-base2: hsl(125, 91%, 26%);
  --button-bg-hover2: hsl(125, 91%, 40%);
  --button-bg-base3: hsl(0, 0%, 20%);
  --button-bg-hover3: hsl(0, 0%, 40%);
  --button-bg-hover: var(--PHB-underline-color);
  --nav-link-bg-clicked: var(--PHB-statblocklines);
  --input-border: var(--theme-maxcontrast);
  --input-bg-color: var(--PHB-bg-color);

  /*text color*/
  --text-color-general: var(--theme-80contrast);
  --header-color-general: var(--PHB-h1-color);
  --nav-color: var(--PHB-bg-color);
  --p-color: var(--text-color-general);
  --a-color: var(--PHB-logo-color);
  --a-selected-color: var(--secondary-accent-color);

  /*fonts*/
  --header-font-family-general: mr_eaves_small_caps-webfont;
  --h1-font: var(--header-font-family-general);
  --h2-font: var(--header-font-family-general);
  --h3-font: var(--header-font-family-general);
  --h4-font: var(--header-font-family-general);
  --h5-font: var(--header-font-family-general);
}

/*#########################   BODY & REGLAS GENERALES   ##########################################*/
body {
  position: absolute;
  background-color: var(--body-bg-color);
  background-image: var(--body-bg-image);
  overflow: overlay;
  scroll-behavior: smooth;
  max-width: 100%;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
}

* {
  transition: 200ms;
}

::selection {
  background: var(--theme-80contrast);
  color: var(--theme-mincontrast);
}

a::selection {
  color: var(--a-selected-color);
}

:focus {
  z-index: 100;
  outline: none;
}

::-webkit-scrollbar {
  width: 19px;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: hsla(0, 0%, 70%, 0.7);
  border: 6px solid rgba(0, 0, 0, 0);
  border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 60%);
}


header *,
input,
button,
#filterbox *,
img
{
  user-select:none;
}

/*#########################   NAVEGACIÓN   #############################*/

header {
  --nav-height: 15vh;

  position: fixed;
  top: 0px;
  z-index: 3;
  background-color: none;
  background-image: var(--nav-bg-image);
  display: block;
  height: var(--nav-height);
  width: 100%;
  user-select: none;
  box-shadow: var(--nav-shadow);
}
header.background {
  background-color: var(--nav-bg-color);
}

header > nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  user-select: none;
}

.navbar-brand,
#botonsnavegacio {
  display: flex;
  align-items: center;
  height: 100%;
  user-select: none;
}

.nav-link {
  background-color: unset;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;
  color: var(--nav-color);
  font-size: var(--nav-font-size);
  text-decoration: unset;
  user-select: none;
  -webkit-user-drag: none;
}

.background .nav-link:is(:hover, :focus) {
  backdrop-filter: brightness(var(--nav-link-bg-hover));
  z-index: 100;
}

.nav-link.clicked,
.nav-link.active {
  background-color: var(--nav-link-bg-clicked);
}

.navbar-brand {
  margin: 0 30px;
  color: hsla(0, 0%, 0%, 0);
  font-size: var(--brand-font-size);
  text-decoration: unset;
  background-image: url(http://cruab/img/temes/Logo-box.png);
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}

#botonsdreta {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
}

#botonsdreta > * {
  z-index: 4;
  background: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--nav-height);
  width: var(--nav-height);
  border: unset;
}

#navbar-toggler {
  background: unset;
  height: 30px;
  width: 30px;
  border: 1px solid var(--theme-70contrast);
  border-radius: 10px;
}

#navbar-toggler hr {
  border-color: var(--theme-maxcontrast);
  margin-block: 5px;
}

nav .temes-boto svg {
  height: 25px;
  width: 25px;
  pointer-events: none;
  fill: var(--secondary-accent-color);
}

#botonsdreta > .espai-temes {
  display: none;
  background-color: var(--theme-30contrast);
  position: absolute;
  top: var(--nav-height);
  right: 3.5vw;
  width: fit-content;
  height: fit-content;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}

#espaitemes.open {
  display: grid;
}

#espaitemes.open::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 20px solid var(--theme-30contrast);
}

.canvi-tema {
  background-color:var(--theme-70contrast);
  color:var(--theme-mincontrast);
}

/*#########################   CONTENINDO PRINCIPAL   #############################*/

.main-content {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 60vh;
  margin-top: 10vh;
}
.main-content.gestio {
  padding-left: 10vw;
  padding-right: 10vw;
}
.main-content > div,
.main-content > article {
  position: relative;
  background-image: var(--content-bg-image);
}

main > div,
main > article {
  width: 80%;
  min-height: 50vh;
  margin-top: 7vh;
  padding: calc((80vw - (300px * 3)) / 3);
  border-radius: 0px;
  box-shadow: var(--nav-shadow);
}

main h1 {
  color: var(--h1-color);
  font-family: var(--h1-font);
  font-size: var(--h1-size);
}

main h2 {
  color: var(--h2-color);
  font-family: var(--h2-font);
  font-size: var(--h2-size);
}

main h3 {
  color: var(--h3-color);
  font-size: var(--h3-size);
}

main h4 {
  color: var(--h4-color);
  font-size: var(--h4-size);
}

main h4 {
  color: var(--h2-color);
  font-size: var(--h2-size);
}

main p,
td {
  color: var(--p-color);
  font-size: var(--p-size);
}

a:not(.nav-link, .user-button, .social-link) {
  background-image: linear-gradient(
    90deg,
    var(--theme-maxcontrast),
    var(--theme-maxcontrast)
  );
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 0px 2px;
  color: var(--a-color);
  text-decoration: unset;
  transition: ease-out 200ms;
  transition-property: background-size;
}

a:not(.nav-link, .user-button):is(:hover, :focus) {
  background-size: 100% 2px;
}

.missatge {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 46%;
  text-align: center;
}

/*#########################   GESTIÓN   #############################*/

.gestio-link {
  font-size: var(--h1-size);
}

/*#################################   FORMULARIOS   #################################*/
button {
  background:var(--button-bg-fallback);
}

:is(button, input:is([type="button"], [type="submit"])):not([disabled]),
input[type="file"]::file-selector-button {
  border-radius: 5px;
  border: none;
  font-size: var(--button-font-size);
  font-weight: bolder;
  letter-spacing: 0.1em;
  padding: 0 10px;
  color: var(--theme-mincontrast);
  width: fit-content;
  height: fit-content;
  min-height: 27px;
}
input[type="file"] {
  border: none;
  width: 300px;
  background: none;
  color: var(--theme-maxcontrast);
}

input {
  position: relative;
  background-color: var(--input-bg-color);
  max-width: fit-content;
  border: 1px solid var(--input-border);
  border-radius: 3px;
  margin-bottom: 10px;
}

:is(button, input:is([type="button"], [type="submit"])):not([disabled]):is(:hover, :focus) {
  border-radius: 7px;
}

.constructiu,
input[type="file"]:valid::file-selector-button {
  background-color: var(--button-bg-base2);
}
.constructiu:is(:hover, :focus),
input[type="file"]:valid:is(:hover, :focus)::file-selector-button {
  background-color: var(--button-bg-hover2);
}

.destructiu,
input[type="file"].error:invalid::file-selector-button {
  background-color: var(--button-bg-base1);
}
.destructiu:not([disabled]):is(:hover, :focus) {
  background-color: var(--button-bg-hover1);
}
.neutre,
input[type="file"]:invalid::file-selector-button {
  background-color: var(--button-bg-base3);
}
.neutre:not([disabled]):is(:hover, :focus),
input[type="file"]:invalid:is(:hover, :focus)::file-selector-button {
  background-color: var(--button-bg-hover3);
}

input:is(:not(:placeholder-shown, [type="file"]):invalid, :out-of-range),
input:-internal-autofill-selected:invalid {
  background-color: var(--input-bg-incorrect);
  border-color: red;
}

input.error:is([type], [name]) {
  background-color: var(--input-bg-incorrect) !important;
  border-color: red !important;
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translateX(1px);
  }
  20% {
    transform: translateX(4px);
  }
  40% {
    transform: translateX(-3px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}

input:not(:placeholder-shown, [type="submit"]):valid,
input:-internal-autofill-selected:valid {
  background-color: var(--input-bg-correct) !important;
  border-color: green !important;
}

input[type="radio"] {
  accent-color: var(--accent-color);
}

select {
  max-width: 200px;
}

label {
  position: relative;
  width: fit-content;
}

label.error::after {
  display: block;
  position: absolute;
  left: 0px;
  top: 56px;
  content: attr(errormessage);
  width: 200px;
  height: fit-content;
  font-size: calc(var(--p-size) * 0.7);
  color: red;
}

/*
input[type="file"] {
    display: none;
}*/

#loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#formulari {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: -400px;
}

#jugadors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#formulari > div > div {
  max-width: 500px;
}

#first-column {
  position: relative;
  left: 50px;
}

#second-column {
  position: relative;
  right: 50px;
}

label {
  color: var(--theme-maxcontrast);
  font-size: var(--label-size);
}

label + div label,
.form-check > label {
  color: var(--p-color);
  font-size: var(--p-size);
}

/*#########################   TABLAS Y CONTENIDO DE LA BASE DE DATOS   #############################*/
#filterbox {
  width: 70%;
}

#filterbox > div {
  width: 70%;
}

#filterbox label {
  width: 100%;
  text-align: center;
}

#filterbox .numbers > div {
  margin: 0 2px;
}

#filterbox #filtrar {
  margin-block: auto;
}

table {
  z-index: 5;
  min-width: 300px;
  border-collapse: collapse;
  color: var(--p-color);
}

thead {
  border-bottom: 1px solid var(--theme-maxcontrast);
}

th {
  font-size: var(--p-size);
  font-weight: var(--p-weight-bold);
  padding: 0 5px;
}

table td {
  text-align: center;
}

table .tableImageHolder {
  display: flex;
  justify-content: center;
}

table .tableImageHolder img {
  max-width: 10.3vw;
}

article > h1 {
  text-align: center;
}

.flex-parent {
  display: flex;
}

.columns {
  flex-direction: row;
}

.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.center {
  justify-content: center;
  align-items: center;
}
.align {
  align-items: center;
}
.rows {
  flex-direction: column;
}
.detalls {
  line-height: 1em;
  display: flex;
  flex-direction: column;
}

.jocmanual-pare {
  width: 60%;
}

.element-copia {
  width: 400px;
  margin-bottom: 20px;
}

.llistaelements {
  --column-gap: calc((80vw - (300px * 3)) / 4);
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: var(--column-gap);
  row-gap: 2vh;
  width: fit-content;
  overflow:hidden;
}

@media screen and (max-width: 1320px) {
  .llistaelements {
  --column-gap:calc((80vw - (300px * 2)) / 3)
    grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (min-width: 1980px) {
  .llistaelements {
    --column-gap:calc((80vw - (300px * 4)) / 5)
    grid-template-columns: repeat(4, 300px);
  }
}
@media screen and (min-width: 2500px) {
  .llistaelements {
    --column-gap:calc((80vw - (300px * 5)) / 6)
    grid-template-columns: repeat(5, 300px);
  }
}

.element {
  width: 100%;
}
.hidden {
  display: none !important;
}

.element-copia .boto-reserva:nth-of-type(2):not([Id]) {
  display: none;
}

.element {
  margin-bottom: 30px;
}

.element > .flex-parent {
  position: relative;
  align-items: center;
  min-height: fit-content;
  width: 100%;
}

.element h3 {
  white-space: nowrap;
  overflow:hidden;
  width:100%;
  height:min-content;
  text-overflow: ellipsis;
}

.contingut {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  min-height: 150px;
  width: 300px;
}
.detalls {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
  min-width: 100px;
}
.detalls p {
  font-size: calc(var(--p-size) * 0.8);
  padding: 2px 5px;
  width:100%;
  word-wrap: break-word;
}

.detalls .dificultat {
  display: block;
  color: hsl(0, 0%, 0%);
  font-weight: bolder;
  padding: 0 10px;
  border-radius: 3px;
  margin-left: 10px;
  width: fit-content;
}

.image-holder {
  font-size: var(--p-size);
  width: 40%;
  max-width: 20vw;
  margin-right: 1em;
  overflow: hidden;
  border-radius: 10px;
}
@media (hover: hover) {
  .image-holder img:is(:hover, :focus) {
    transform: scale(1.1);
    transition: transform 250ms ease-in-out;
  }
}

/*#########################   FOOTER   #############################*/

footer {
  z-index: 3;
  background-color: var(--nav-bg-color);
  background-image: var(--footer-bg-image);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
  margin-top: 10vh;/*si se toca, comprobar que en index no haya espacio entre este y el final de pagina*/
  color: var(--nav-color);
  text-align: center;
  box-shadow: var(--nav-shadow);
}

footer .social-link {
  background-image: linear-gradient(
    90deg,
    var(--secondary-accent-color),
    var(--secondary-accent-color)
  );
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 0px 2px;
  color: var(--a-color);
  text-decoration: unset;
  transition: ease-out 200ms;
  transition-property: background-size;
}

footer .social-link:is(:hover, :focus) {
  background-size: 100% 2px;
}

/*#########################   MEDIA QUERIES   ##########################################*/

/*#########################   FUENTES PARA MOVIL   #############################*/
@media screen and (max-width: 900px) {
  :root {
    --nav-font-size: 20px;
    --h1-size: 30px;
    --h2-size: 20px;
    --h3-size: 30px;
    --h4-size: 17px;
    --p-size: 25px;
  }
}

/*#########################   PARA PC   #############################*/

@media screen and (min-width: 900px) {
  #navbar-toggler-parent {
    display: none;
  }
}

/*#########################   PARA MOVIL   #############################*/

@media screen and (max-width: 900px) {
  nav {
    flex-direction: column;
    justify-content: flex-start;
  }

  #botonsnavegacio {
    position: absolute;
    top: var(--nav-height);
    left: 0;
    background-color: var(--nav-bg-color);
    background-image: var(--nav-bg-image);
    background-position-y: calc(var(--nav-height) * -1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 100vw;
  }

  .nav-link:not(.navbar-brand) {
    align-items: flex-start;
    width: 100%;
  }

  #botonsnavegacio.collapsed {
    display: none;
  }

  .temes-boto {
    width: 50px;
  }
  
  

  .main-content > div,
  .main-content > article {
    width: 90%;
    padding: 10px 20px;
  }

  .main-content > article {
    min-height: 10vh;
  }

  #user-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .llistaelements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:5vh;
  }

  .element {
    margin-bottom: 0;
    height: 40vh;
    padding-bottom: 10px;
    display:flex;
    flex-direction:column;
    align-items: center;
  }
  .element h3 {
    max-width:90%;
  }
  .element p {
    line-height: var(--p-size);
  }

  .element > .flex-parent {
    flex-direction: column;
  }
  .contingut {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    min-height: 150px;
    width: 100%;
  }

  .image-holder {
    width: 50vw;
    max-width: 100px;
    margin-right: 0.5em;
  }
  .detalls {
    justify-content: center;
    text-align: center;
    align-items: center;
    width:80%;
  }
  .nom {
    text-align: center;
  }
}
