/*#########################   CSS RESET   ##########################################*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}

/*#########################   VARIABLES   ##########################################*/
:root {
  /*fonts*/
  --brand-font-size: 35px;
  --nav-font-size: 23px;
  --h1-size: 35px;
  --h2-size: 27px;
  --h3-size: 25px;
  --h4-size: 22px;
  --label-size: var(--h4-size);
  --p-size: 20px;
  --p-weight-normal: 100;
  --p-weight-semi: 450;
  --p-weight-bold: 900;
}

body {
  /*text color*/
  --text-color-general: var(--theme-80contrast);
  --header-color-general: var(--text-color-general);
  --nav-color: var(--theme-80contrast);
  --h1-color: var(--header-color-general);
  --h2-color: var(--header-color-general);
  --h3-color: var(--header-color-general);
  --h4-color: var(--header-color-general);
  --p-color: var(--text-color-general);
  --a-color: var(--accent-color);
  --a-selected-color: var(--secondary-accent-color);
}

body.clar {
  --theme-maxcontrast: hsl(0, 0%, 0%);
  --theme-90contrast: hsl(0, 0%, 10%);
  --theme-80contrast: hsl(0, 0%, 20%);
  --theme-70contrast: hsl(0, 0%, 30%);
  --theme-60contrast: hsl(0, 0%, 40%);
  --theme-50contrast: hsl(0, 0%, 50%);
  --theme-40contrast: hsl(0, 0%, 60%);
  --theme-30contrast: hsl(0, 0%, 70%);
  --theme-20contrast: hsl(0, 0%, 80%);
  --theme-10contrast: hsl(0, 0%, 90%);
  --theme-mincontrast: hsl(0, 0%, 100%);
  --accent-color: hsl(0, 84%, 29%);
  --secondary-accent-color: yellow;

  /*base backgrounds*/
  --body-bg-color: var(--theme-mincontrast);
  --body-bg-image: none;
  --nav-bg-color: var(--theme-20contrast);
  --nav-link-bg-hover: var(--theme-20contrast);
  --nav-bg-image: none;

  /*interactive colors*/
  --button-bg-base: var(--nav-bg-color);
  --button-bg-hover: var(--theme-30contrast);
  --button-bg-clicked: var(--theme-40contrast);
  --input-border: var(--theme-maxcontrast);
  --input-bg-color: hsl(0, 0%, 80%);

  /*text color*/
  --text-color-general: var(--theme-80contrast);
  --header-color-general: var(--text-color-general);
  --h1-color: var(--header-color-general);
  --h2-color: var(--header-color-general);
  --h3-color: var(--header-color-general);
  --h4-color: var(--header-color-general);
  --p-color: var(--text-color-general);
  --a-color: var(--accent-color);
  --a-selected-color: var(--secondary-accent-color);
}

body.fosc {
  --theme-maxcontrast: hsl(0, 0%, 100%);
  --theme-90contrast: hsl(0, 0%, 90%);
  --theme-80contrast: hsl(0, 0%, 80%);
  --theme-70contrast: hsl(0, 0%, 70%);
  --theme-60contrast: hsl(0, 0%, 60%);
  --theme-50contrast: hsl(0, 0%, 50%);
  --theme-40contrast: hsl(0, 0%, 40%);
  --theme-30contrast: hsl(0, 0%, 30%);
  --theme-20contrast: hsl(0, 0%, 20%);
  --theme-10contrast: hsl(0, 0%, 10%);
  --theme-mincontrast: hsl(0, 0%, 0%);

  --body-bg-color: var(--theme-20contrast);
  --nav-bg-color: var(--theme-30contrast);
  --button-bg-hover: var(--theme-40contrast);
  --nav-link-bg-hover: var(--theme-40contrast);
  --button-bg-clicked: var(--theme-50contrast);

  --accent-color: hsl(170, 100%, 50%);
  --secondary-accent-color: rgb(255, 8, 8);

  /*interactive colors*/
  --button-bg-base: var(--nav-bg-color);
  --input-border: var(--theme-maxcontrast);
  --input-bg-color: hsl(0, 0%, 80%);
}

body.pergami {
  --HB-bg-color: #2c3e50;
  --PHB-bg-color: #f2ece4;
  --PHB-h1-color: #58180d;
  --PHB-td-color: #e0e5c1;
  --PHB-logo-color: #ed1c24;
  --PHB-underline-color: #f0bf48;
  --PHB-statblocklines: #9c2b1b;
  --redscroll: url(https://i.imgur.com/YvYGqOX.jpg);
  --bluescroll: url(https://i.imgur.com/w2m4BgW.jpg);
  --seascroll: url(https://i.imgur.com/dKciX3y.jpg);

  --theme-maxcontrast: hsl(0, 0%, 0%);
  --theme-90contrast: hsl(0, 0%, 10%);
  --theme-80contrast: hsl(0, 0%, 20%);
  --theme-70contrast: hsl(0, 0%, 30%);
  --theme-60contrast: hsl(0, 0%, 40%);
  --theme-50contrast: hsl(0, 0%, 50%);
  --theme-40contrast: hsl(0, 0%, 60%);
  --theme-30contrast: hsl(0, 0%, 70%);
  --theme-20contrast: hsl(0, 0%, 80%);
  --theme-10contrast: hsl(0, 0%, 90%);
  --theme-mincontrast: hsl(0, 0%, 100%);
  --accent-color: var(--PHB-statblocklines);
  --secondary-accent-color: var(--PHB-underline-color);

  /*base backgrounds*/
  --body-bg-color: var(--HB-bg-color);
  --body-bg-image: ;
  --content-bg-image: url("http://cruab/img/temes/scroll.jfif");
  --nav-bg-color: var(--theme-20contrast);

  --nav-bg-image: url("http://cruab/img/temes/redscroll.jpg");
  --footer-bg-image: var(--seascroll);
  --nav-shadow: 0px 0px 14px #000;

  /*interactive colors*/
  --button-bg-base: var(--PHB-td-color);
  --button-bg-hover: var(--PHB-underline-color);
  --button-bg-clicked: var(--PHB-statblocklines);
  --input-border: var(--theme-maxcontrast);
  --input-bg-color: var(--PHB-bg-color);

  /*text color*/
  --text-color-general: var(--theme-80contrast);
  --header-color-general: var(--PHB-h1-color);
  --nav-color: var(--PHB-bg-color);
  --p-color: var(--text-color-general);
  --a-color: var(--accent-color);
  --a-selected-color: var(--secondary-accent-color);

  /*fonts*/
  --header-font-family-general: mr_eaves_small_caps-webfont;
  --h1-font: var(--header-font-family-general);
  --h2-font: var(--header-font-family-general);
  --h3-font: var(--header-font-family-general);
  --h4-font: var(--header-font-family-general);
  --h5-font: var(--header-font-family-general);
}

/*#########################   BODY & REGLAS GENERALES   ##########################################*/
body {
  position: absolute;
  background-color: var(--body-bg-color);
  overflow: overlay;
  max-width: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

* {
  transition: 200ms;
}

::selection {
  background: var(--theme-80contrast);
  color: var(--theme-mincontrast);
}

a::selection {
  color: var(--a-selected-color);
}

:focus {
  z-index: 100;
}

::-webkit-scrollbar {
  width: 19px;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: hsla(0, 0%, 70%, 0.7);
  border: 6px solid rgba(0, 0, 0, 0);
  border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 60%);
}

/*#########################   NAVEGACIÓN   #############################*/

header {
  --nav-height: 7vh;

  position: fixed;
  top: 0px;
  z-index: 3;
  background-color: var(--nav-bg-color);
  background-image: var(--nav-bg-image);
  display: block;
  height: var(--nav-height);
  width: 100%;
  user-select: none;
  box-shadow: var(--nav-shadow);
}

* {
  user-select: none;
}

header > nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  user-select: none;
}

.navbar-brand,
#navbuttons {
  display: flex;
  align-items: center;
  height: 100%;
  user-select: none;
}

.nav-link {
  background-color: unset;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;
  color: var(--nav-color);
  font-size: var(--nav-font-size);
  text-decoration: unset;
  user-select: none;
  -webkit-user-drag: none;
}

.nav-link:hover {
  background-color: var(--nav-link-bg-hover);
  backdrop-filter: brightness(150%);
}

.nav-link.clicked,
.nav-link.active {
  background-color: var(--button-bg-clicked);
}

.navbar-brand {
  margin: 0 30px;
  color: var(--nav-color);
  font-size: var(--brand-font-size);
  text-decoration: unset;
}

#rightbuttons {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
}

#rightbuttons > * {
  z-index: 4;
  background: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--nav-height);
  width: var(--nav-height);
  border: unset;
}

#navbar-toggler {
  background: unset;
  height: 30px;
  width: 30px;
  border: 1px solid var(--theme-70contrast);
  border-radius: 10px;
}

#navbar-toggler hr {
  border-color: var(--theme-maxcontrast);
  margin-block: 5px;
}

nav .temes-boto svg {
  height: 25px;
  width: 25px;
  pointer-events: none;
  fill: var(--secondary-accent-color);
}

#rightbuttons > .espai-temes {
  display: none;
  background-color: lightcoral;
  position: absolute;
  top: var(--nav-height);
  right: 0;
  min-width: 250px;
  min-height: 50px;
  width: fit-content;
  height: fit-content;
  grid-template-columns: auto auto auto;
  gap: 10px;
  border-radius: 10px;
}

#espaitemes.open {
  display: grid;
}

.espai-temes .temes-boto {
  min-width: 50px;
  min-height: 20px;
  width: fit-content;
  height: fit-content;
}

/*#########################   CONTENINDO PRINCIPAL   #############################*/

.main-content {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 60vh;
  margin-top: 10vh;
}

.main-content > div,
.main-content > article {
  position: relative;
  background-image: var(--content-bg-image);
}

main > div,
main > article {
  width: 80%;
  min-height: 50vh;
  margin-top: 5vh;
  padding: 10px;
  border-radius: 0px;
  box-shadow: var(--nav-shadow);
}

main h1 {
  color: var(--h1-color);
  font-family: var(--h1-font);
  font-size: var(--h1-size);
}

main h2 {
  color: var(--h2-color);
  font-family: var(--h2-font);
  font-size: var(--h2-size);
}

main h3 {
  color: var(--h3-color);
  font-size: var(--h3-size);
}

main h4 {
  color: var(--h4-color);
  font-size: var(--h4-size);
}

main h4 {
  color: var(--h2-color);
  font-size: var(--h2-size);
}

main p,
td {
  color: var(--p-color);
  font-size: var(--p-size);
}

a:not(.nav-link, .user-button) {
  background-image: linear-gradient(
    90deg,
    var(--theme-maxcontrast),
    var(--theme-maxcontrast)
  );
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 0px 2px;
  color: var(--a-color);
  text-decoration: unset;
  transition: ease-out 200ms;
  transition-property: background-size;
}

a:not(.nav-link, .user-button):hover {
  background-size: 100% 2px;
}

button:not([disabled]),
input[type="button"]:not([disabled]),
input[type="submit"]:not([disabled]) {
  background: var(--button-bg-base);
  border-radius: 5px;
  border: 1px solid var(--theme-maxcontrast);
  color: var(--theme-maxcontrast);
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: var(--button-bg-hover);
  border-radius: 10px;
}

.missatge {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 46%;
  text-align: center;
}

/*#########################   GESTIÓN   #############################*/

.gestio-link {
  font-size: var(--h1-size);
}

/*#########################   MEDIA QUERIES   ##########################################*/

/*#########################   FUENTES PARA MOVIL   #############################*/
@media screen and (max-width: 900px) {
  :root {
    --nav-font-size: 20px;
    --h1-size: 30px;
    --h2-size: 20px;
    --h3-size: 18.5px;
    --h4-size: 16px;
    --p-size: 15px;
  }
}

/*#########################   PARA PC   #############################*/

@media screen and (min-width: 900px) {
  #navbar-toggler-parent {
    display: none;
  }
}

/*#########################   PARA MOVIL   #############################*/

@media screen and (max-width: 900px) {
  #navbar {
    flex-direction: column;
    justify-content: flex-start;
  }

  #navbuttons {
    position: absolute;
    top: var(--nav-height);
    left: 0;
    background-color: var(--nav-bg-color);
    background-image: var(--nav-bg-image);
    background-position-y: calc(var(--nav-height) * -1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 100vw;
  }

  .nav-link:not(.navbar-brand) {
    align-items: flex-start;
    width: 100%;
  }

  #navbuttons.collapsed {
    display: none;
  }

  .temes-boto {
    width: 50px;
  }

  .main-content > div,
  .main-content > article {
    width: 90%;
  }

  main.main-content > article {
    min-height: 10vh;
  }

  #user-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

/*#################################   FORMULARIOS   #################################*/

input {
  background-color: var(--input-bg-color);
  max-width: 200px;
  border: 1px solid var(--input-border);
  border-radius: 3px;
  margin-bottom: 10px;
}

input:not(:placeholder-shown):invalid {
  border-color: red;
}

input[type="radio"] {
  accent-color: var(--accent-color);
}

select {
  max-width: 200px;
}

/*
input[type="file"] {
    display: none;
}*/

#loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#formulari {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: -400px;
}

#jugadors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#formulari > div > div {
  max-width: 300px;
}

#first-column {
  position: relative;
  left: 50px;
}

#second-column {
  position: relative;
  right: 50px;
}

label {
  color: var(--theme-maxcontrast);
  font-size: var(--label-size);
}

label + div label,
.form-check > label {
  color: var(--p-color);
  font-size: var(--p-size);
}

/*#########################   TABLAS Y CONTENIDO DE LA BASE DE DATOS   #############################*/

table {
  z-index: 5;
  min-width: 300px;
  border-collapse: collapse;
  color: var(--p-color);
}

thead {
  border-bottom: 1px solid var(--theme-maxcontrast);
}

th {
  font-size: var(--p-size);
  font-weight: var(--p-weight-bold);
  padding: 0 5px;
}

table td {
  text-align: center;
}

table .tableImageHolder {
  display: flex;
  justify-content: center;
}

table .tableImageHolder img {
  max-width: 10.3vw;
}

article > h1 {
  text-align: center;
}



.flex-parent {
  display: flex;
}

.columns {
  flex-direction: row;
}

.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.center {
  justify-content: center;
  align-items: center;
}
.rows {
  flex-direction: column;
}

.jocmanual-pare {
  width:60%;
}

.manual-copia, .joc-copia {
  width: 400px;
  margin-bottom: 10px;
}

#afegircopia {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  min-width: 100px;
  max-width: 150px;
  margin-left: 125px;
}

#llistamanuals, #llistajocs {
  align-items: center;
  width:70%;
}
.hidden {
  display: none !important;
}

.manual-copia .boto-reserva:nth-of-type(2):not([Id]),
.joc-copia .boto-reserva:nth-of-type(2):not([Id]) {
  display: none;
}

.manual,
.joc {
  margin-bottom: 30px;
}

.manual > .flex-parent,
.joc > .flex-parent {
  position: relative;
  justify-content: flex-start;
  align-items: center;
  min-height: fit-content;
  min-width: 50%;
  max-width: 50%;
  width: 50vw;
}
.manual > .flex-parent > *,
.joc > .flex-parent > * {
  width:20vw;
}

.contingut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /*position: absolute;
  left: 320px;*/
  height: 100%;
  min-height: 150px;
  width: 300px;
}

.image-holder {
  max-width: 20vw;
  margin-right: 30px;
  overflow: hidden;
  border-radius: 10px;
}

.image-holder img:hover {
  transform: scale(1.1);
  transition: transform 250ms ease-in-out;
}

/*#########################   FOOTER   #############################*/

footer {
  z-index: 3;
  background-color: var(--nav-bg-color);
  background-image: var(--footer-bg-image);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
  margin-top: 10vh;
  color: var(--nav-color);
  text-align: center;
  box-shadow: var(--nav-shadow);
}

footer a:hover {
  background-image: linear-gradient(
    90deg,
    var(--secondary-accent-color),
    var(--secondary-accent-color)
  );
}
