@import "css-reset.css";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/verdana');
@import "variables.css";
@import "media-q-movil.css";

/*#########################   BODY & REGLAS GENERALES   ##########################################*/
body {
  position: absolute;
  background-color: var(--body-bg-color);
  background-image: var(--body-bg-image);
  overflow: overlay;
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

* {
  /*outline: 1px dashed red;
  */
  transition: all 200ms;
}

::selection {
  background: var(--theme-80contrast);
  color: var(--theme-mincontrast);
}

a::selection {
  color: var(--a-selected-color);
}

:focus {
  z-index: 100;
  outline: none;
}

/*scroll en general*/
::-webkit-scrollbar {
  width: 19px;
}

/*scroll, fons*/
::-webkit-scrollbar-track {
  background: #00000000;
}

/*scroll, barra*/
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: hsla(0, 0%, 70%, 0.7);
  border: 6px solid rgba(0, 0, 0, 0);
  border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 60%);
}

#capçalera *,
input,
button,
#filterbox *,
img {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

/*#########################   NAVEGACIÓN   #############################*/
#capçalera {
  --nav-height: 15vh;
  position: fixed;
  top: 0px;
  z-index: 3;
  background-color: none;
  background-image: var(--nav-bg-image);
  display: block;
  height: var(--nav-height);
  width: 100%;
  max-width: 100vw;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  box-shadow: var(--nav-shadow);
}

#capçalera.opac {
  background-color: var(--nav-bg-color);
}

/*llista de botons de navegacio*/
#capçalera > nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

#botonsnavegacio {
  display: flex;
  align-items: center;
  height: 100%;
}

.enllaç-navegació {
  background-color: unset;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;
  color: var(--nav-color);
  font-size: var(--nav-font-size);
  font-family: var(--header-font-family);
  text-decoration: unset;
}

/*enllaços de navegació quan hover o focus si la navegacio te fons opac*/
.opac .enllaç-navegació:not(.logo):is(:hover, :focus),
body.pergami .enllaç-navegació:not(.logo):is(:hover, :focus) {
  backdrop-filter: brightness(var(--enllaç-navegació-bg-hover));
  z-index: 100;
}

#capçalera:not(.opac) .enllaç-navegació:is(:hover, :focus) {
  text-shadow: 0 0 10px var(--nav-color);
}

.enllaç-navegació.clicked,
.enllaç-navegació.active {
  background-color: var(--enllaç-navegació-bg-clicked);
}

.logo {
  margin: 0 30px;
  width: 70px;
  padding: 0;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  height: unset;
  aspect-ratio: 100/111;
}

.logo svg {
  height: 100%;
  width: 100%;
}

#botonsdreta {
  margin-left: auto;
  display: flex;
}

#botonsdreta > * {
  z-index: 4;
  background: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--nav-height);
  width: var(--nav-height);
  border: unset;
}

#boto-navegacio {
  background: unset;
  height: 30px;
  width: 30px;
  border: 1px solid var(--theme-70contrast);
  border-radius: 10px;
}

#boto-navegacio hr {
  border-color: var(--theme-maxcontrast);
  margin-block: 5px;
}

nav .temes-boto svg {
  height: 25px;
  width: 25px;
  pointer-events: none;
  fill: var(--secondary-accent-color);
}

#botonsdreta > .espai-temes {
  display: none;
  background-color: var(--theme-30contrast);
  position: absolute;
  top: var(--nav-height);
  right: 3.5vw;
  width: fit-content;
  height: fit-content;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}

#espaitemes.open {
  display: grid;
}

#espaitemes.open::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 20px solid var(--theme-30contrast);
}

#clar {
  --button-bg: white;
  color: hsl(0, 0%, 20%);
}

#fosc {
  --button-bg: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 80%);
}

#pergami {
  background-image: var(--scroll);
  color: #58180d;
}

/*#########################   CONTENINDO PRINCIPAL   #############################*/
.main-content {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 60vh;
  margin-top: 10vh;
  overflow-x: hidden;
  overflow-y: hidden;
  height: fit-content;
}

.main-content.gestio {
  padding-left: 10vw;
  padding-right: 10vw;
}

.main-content > div,
.main-content > article {
  position: relative;
  background-image: var(--content-bg-image);
}

main > div,
main > article {
  width: 80%;
  min-height: 50vh;
  margin-top: 9vh;
  padding: 10px;
  box-shadow: var(--nav-shadow);
}

h1 {
  color: var(--h1-color);
  font-family: var(--h1-font);
  font-size: var(--h1-size);
  text-align: center;
}

h2 {
  color: var(--h2-color);
  font-family: var(--h2-font);
  font-size: var(--h2-size);
}

h3 {
  color: var(--h3-color);
  font-size: var(--h3-size);
}

h4 {
  color: var(--h4-color);
  font-size: var(--h4-size);
}

h5 {
  color: var(--h5-color);
  font-size: var(--h5-size);
}

main p {
  color: var(--p-color);
  font-family: var(--p-font);
  font-size: var(--p-size);
}

/* enllaços al contingut principal*/
.main-content a {
  background: linear-gradient(90deg, var(--theme-maxcontrast), var(--theme-maxcontrast)) left bottom 0px 2px no-repeat;
  color: var(--a-color);
  text-decoration: unset;
  transition: ease-out 200ms;
  transition-property: background-size;
  -webkit-transition: ease-out 200ms;
  -moz-transition: ease-out 200ms;
  -ms-transition: ease-out 200ms;
  -o-transition: ease-out 200ms;
}

/* enllaços al contingut principal quan hover*/
.main-content a:is(:hover, :focus) {
  background-size: 100% 2px;
}

/*missatges d'error als formularis de login*/
.missatge {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 46%;
  text-align: center;
}

.especial {
  display: block;
  position: fixed;
  bottom: 100px;
  right: 50px;
  width: 40px;
  aspect-ratio: 1;
}

#pujar {
  --edge-size: .65em;
  clip-path: polygon(
      /*top left 1*/
      0% var(--edge-size),
      /*top left 2*/
      var(--edge-size) 0%,
      /*top right 1*/
      calc(100% - var(--edge-size)) 0,
      /*top right 2*/
      100% var(--edge-size),
      /*bottom right 1*/
      100% calc(100% - var(--edge-size)),
      /*bottom right 1*/
      calc(100% - var(--edge-size)) 100%,
      /*bottom left 1*/
      var(--edge-size) 100%,
      /*bottom left 2*/
      0% calc(100% - var(--edge-size)));
}

.especial:not(.hidden) svg {
  animation: rotate1sec 20s linear infinite normal;
  -webkit-animation: rotate1sec 20s linear infinite reverse;
}

.especial:not(.hidden) {
  animation: rotate1sec 20s linear infinite normal;
  -webkit-animation: rotate1sec 20s linear infinite normal;
}

@keyframes rotate1sec {
  0% {
    rotate: 0;
  }

  100% {
    rotate: 360deg;
  }
}

/*###############################   GESTIÓN   #############################*/
.gestio-link {
  font-size: var(--h1-size);
}

/*###############################   MEMBRE   ##############################*/
.stretch {
  justify-content: stretch;
}

.stretch > * {
  flex-grow: 1;
}

/*#################################   FORMULARIOS   #################################*/
/* botons actius o inactius */
:is(button, input:is([type="button"], [type="submit"])) {
  --edge-size: .45em;
  background: var(--button-bg-fallback);
  clip-path: polygon(
      /*top left 1*/
      0% var(--edge-size),
      /*top left 2*/
      var(--edge-size) 0%,
      /*top right*/
      100% 0,
      /*bottom right 1*/
      100% calc(100% - var(--edge-size)),
      /*bottom right 1*/
      calc(100% - var(--edge-size)) 100%,
      /*bottom left*/
      0% 100%);
}

/* botons que estan actius */
:is(button, input:is([type="button"], [type="submit"])):not([disabled]),
input[type="file"]::file-selector-button {
  background-color: var(--button-bg);
  border: none;
  font-size: var(--button-font-size);
  font-weight: bolder;
  letter-spacing: 0.1em;
  padding: .2em .5em;
  color: var(--theme-mincontrast);
  min-height: 27px;
}

input[type="file"] {
  border: none;
  width: 300px;
  background: none;
  color: var(--theme-maxcontrast);
}

/* botons en general quan hover*/
:is(button, input:is([type="button"], [type="submit"])):not([disabled]):is(:hover, :focus) {
  --edge-size: .45em;
  clip-path: polygon(
      /*top left 1*/
      0% var(--edge-size),
      /*top left 2*/
      var(--edge-size) 0%,
      /*top right 1*/
      calc(100% - var(--edge-size)) 0,
      /*top right 2*/
      100% var(--edge-size),
      /*bottom right 1*/
      100% calc(100% - var(--edge-size)),
      /*bottom right 1*/
      calc(100% - var(--edge-size)) 100%,
      /*bottom left 1*/
      var(--edge-size) 100%,
      /*bottom left 2*/
      0% calc(100% - var(--edge-size)));
}

/*botons verds, que afegeixen alguna cosa i son "segurs"*/
.constructiu,
input[type="file"]:valid::file-selector-button {
  --button-bg: var(--constructiu);
}

/*botons verds quan hover o focus*/
.constructiu:is(:hover, :focus),
input[type="file"]:valid:is(:hover, :focus)::file-selector-button {
  --button-bg: var(--constructiu-hover);
}

/*botons vermells, que eliminen alguna cosa i son "perillosos"*/
.destructiu,
input[type="file"].error:invalid::file-selector-button {
  --button-bg: var(--destructiu);
}

/*botons vermells quan hover o focus*/
.destructiu:not([disabled]):is(:hover, :focus) {
  --button-bg: var(--destructiu-hover);
}

/*botons neutres, que no afegeixen ni eliminen*/
.neutre,
input[type="file"]:invalid::file-selector-button {
  --button-bg: var(--neutre);
}

/*botons neutres quan hover o focus*/
.neutre:not([disabled]):is(:hover, :focus),
input[type="file"]:invalid:is(:hover, :focus)::file-selector-button {
  --button-bg: var(--neutre-hover);
}

/*inputs de tipus text, password, i tal, mai botons*/
input:not([type="button"], [type="submit"]) {
  position: relative;
  background-color: var(--input-bg);
  max-width: fit-content;
  margin-bottom: 10px;
  border: 1px solid var(--input-border);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

div:has(input:required) > label:not(.sense-asterisc)::before {
  /* asterisc de required field */
  content: '* ';
  color: red;
  font-size: 20px;
  position: absolute;
  right: -20px;
  pointer-events: all;
}

label {
  pointer-events: none;
}

/*inputs de text o de data o arxiu erronis*/
input:is(:not(:placeholder-shown, [type="date"], [type="file"], :focus):invalid, :out-of-range),
input:-internal-autofill-selected:invalid,
input.error:is([type], [name]) {
  --input-bg: var(--input-bg-incorrect);
  --input-border: var(--input-border-incorrect);
  animation: shake 0.5s;
  animation-iteration-count: 1;
  -webkit-animation: shake 0.5s;
}

@keyframes shake {

  0%,
  100% {
    translate: 0px;
  }

  20%,
  60% {
    translate: 4px;
  }

  40%,
  80% {
    translate: -4px;
  }
}

/*inputs quan escrius*/
input:not([type="radio"], [type="submit"], [type="button"]):focus {
  --input-bg: var(--input-bg-focus);
  --input-border: var(--input-border-focus);
}

/*inputs quan son bons*/
input:not(:placeholder-shown, [type="submit"]):valid,
input:-internal-autofill-selected:valid {
  --input-bg: var(--input-bg-correct);
  --input-border: var(--input-border-correct);
}

input[type="radio"] {
  accent-color: var(--accent-color);
}

select {
  max-width: 200px;
}

label {
  position: relative;
  width: fit-content;
}

/*missatge d'error*/
label.error::after {
  display: block;
  position: absolute;
  left: 0px;
  top: 56px;
  content: attr(errormessage);
  width: 200px;
  height: fit-content;
  font-size: calc(var(--p-size) * 0.7);
  color: red;
}

#loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#formulari {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 10px;
}

#jugadors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#formulari > div > div {
  max-width: 500px;
}

#primera-columna {
  position: relative;
  left: 50px;
}

#segona-columna {
  position: relative;
  right: 50px;
}

label {
  color: var(--theme-maxcontrast);
  font-size: var(--label-size);
}

label + div label,
.form-check > label {
  color: var(--p-color);
  font-size: var(--p-size);
}

#missatgelogin {
  position: absolute;
  bottom: 5px;
}

/*#########################   TABLAS Y CONTENIDO DE LA BASE DE DATOS   #############################*/
#filterbox {
  width: 70%;
}

#filterbox > div {
  width: 80%;
}

#filterbox label {
  width: 100%;
  text-align: center;
}

#filterbox #jugadors > div {
  margin: 0 2px;
}

#filterbox #minuts > div {
  margin: 0 9px;
}

#filterbox #minuts > div > input {
  margin-inline: auto;
}

#filterbox #minuts label {
  font-size: calc(var(--p-size) * 0.80);
}

#filterbox *:where(#filtrarJugadors, #filtrarMinuts) {
  margin-block: auto;
}

.table-holder {
  overflow-x: auto;
}

table {
  z-index: 5;
  min-width: 300px;
  border-collapse: collapse;
  color: var(--p-color);
  width: 100%;
}

thead {
  border-bottom: 1px solid var(--theme-maxcontrast);
}

th {
  font-size: var(--p-size);
  font-weight: var(--p-weight-bold);
  padding: 0 5px;
}

.clar tr:not(:last-child),
.fosc tr:not(:last-child) {
  border-bottom: 1px solid var(--theme-maxcontrast);
}

.pergami tbody tr:nth-child(odd) {
  background-color: var(--PHB-td-color);
}

td {
  text-align: center;
  font-size: var(--td-size);
  transition: 100ms;
}

.tableImageHolder {
  display: flex;
  justify-content: center;
}

.tableImageHolder img {
  max-width: 10.3vw;
}

.columns {
  display: flex;
  flex-direction: row;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.center {
  justify-content: center;
  align-items: center;
}

.align {
  align-items: center;
}

.rows {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 30px;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.jocmanual-pare {
  width: 60%;
}

.element-copia {
  width: 400px;
  margin-bottom: 20px;
}

.llistaelements {
  --column-gap: calc((80vw - (300px * 3)) / 4);
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: var(--column-gap);
  row-gap: 5vh;
  width: fit-content;
  margin-bottom: 20px;
}

@media screen and (max-width: 1320px) {
  .llistaelements {
    --column-gap: calc((80vw - (300px * 2)) / 3) grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (min-width: 1980px) {
  .llistaelements {
    --column-gap: calc((80vw - (300px * 4)) / 5) grid-template-columns: repeat(4, 300px);
  }
}

@media screen and (min-width: 2500px) {
  .llistaelements {
    --column-gap: calc((80vw - (300px * 5)) / 6) grid-template-columns: repeat(5, 300px);
  }
}

.element {
  width: 100%;
  margin-bottom: 30px;
}

.element h3 {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: min-content;
  text-overflow: ellipsis;
}

.element-copia .boto-reserva:nth-of-type(2):not([Id]) {
  display: none;
}

.contingut {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  min-height: 150px;
  width: 300px;
}

.detalls {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
  height: 80%;
  min-width: 100px;
  line-height: 1em;
}

.detalls > p {
  font-size: calc(var(--p-size) * 0.8);
  padding: 2px 5px;
  width: 100%;
  word-wrap: break-word;
}

.detalls .dificultat {
  display: block;
  color: hsl(0, 0%, 0%);
  font-weight: bolder;
  padding: 0 10px;
  border-radius: 3px;
  margin-left: 10px;
  width: fit-content;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.eliminarboto {
  position: absolute;
  bottom: 0;
  left: 0;
}

.image-holder {
  font-size: var(--p-size);
  width: 40%;
  max-width: 20vw;
  margin-right: 1em;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.image-holder img:is(:hover, :focus) {
  scale: 1.1;
  transition: scale 250ms ease-in-out;
  -webkit-transition: scale 250ms ease-in-out;
  -moz-transition: scale 250ms ease-in-out;
  -ms-transition: scale 250ms ease-in-out;
  -o-transition: scale 250ms ease-in-out;
}

.hidden.hidden {
  display: none;
}

/*#########################   FOOTER   #############################*/
footer {
  z-index: 3;
  background-color: var(--nav-bg-color);
  background-image: var(--footer-bg-image);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
  margin-top: 10vh;
  /*si se toca, comprobar que en index no haya espacio entre este y el final de pagina*/
  color: var(--nav-color);
  text-align: center;
  box-shadow: var(--nav-shadow);
}

footer .social-link {
  background-image: linear-gradient(90deg, var(--secondary-accent-color), var(--secondary-accent-color));
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 0px 2px;
  color: var(--a-color);
  text-decoration: unset;
  transition: ease-out 200ms;
  transition-property: background-size;
  -webkit-transition: ease-out 200ms;
  -moz-transition: ease-out 200ms;
  -ms-transition: ease-out 200ms;
  -o-transition: ease-out 200ms;
}

footer .social-link:is(:hover, :focus) {
  background-size: 100% 2px;
}

footer h2 {
  color: var(--nav-color);
}

/*#########################   MEDIA QUERIES   ##########################################*/
/*#########################   PARA PC   #############################*/
@media screen and (min-width: 900px) {
  #boto-navegacio-parent {
    display: none;
  }

  .pc-columns-mobile-rows {
    display: flex;
    flex-direction: row;
  }
}