/*#########################   VARIABLES   ##########################################*/
:root {
  /*fonts*/
  --brand-font-size: 35px;
  --nav-font-size: 23px;
  --header-font-family: 'Libre Baskerville', serif;
  /*family*/
  --h1-font: var(--header-font-family);
  --h2-font: var(--header-font-family);
  --h3-font: var(--header-font-family);
  --h4-font: var(--header-font-family);
  --h5-font: var(--header-font-family);
  --p-font: 'Verdana', sans-serif;
  /*size*/
  --h1-size: 35px;
  --h2-size: 27px;
  --h3-size: 25px;
  --h4-size: 22px;
  --label-size: var(--h4-size);
  --p-size: 20px;
  --p-weight-normal: 100;
  --p-weight-semi: 400;
  --p-weight-bold: 700;
  --td-size: 18px;
  --button-font-size: 18px;
  width: 100vw;
  height: 100%;
  --scroll: url("http://cruab/img/temes/scroll.jfif");
}

body {
  /*text color*/
  --text-color-general: var(--theme-80contrast);
  --header-color-general: var(--text-color-general);
  --nav-color: var(--theme-80contrast);
  --h1-color: var(--header-color-general);
  --h2-color: var(--header-color-general);
  --h3-color: var(--header-color-general);
  --h4-color: var(--header-color-general);
  --p-color: var(--text-color-general);
  --a-color: var(--accent-color);
  --a-selected-color: var(--secondary-accent-color);
  --input-bg-base: hsl(0, 0%, 100%);
  --input-bg: var(--input-bg-base);
  --input-bg-correct: hsl(102, 16%, 64%);
  --input-bg-incorrect: hsl(0, 23%, 70%);
  --input-bg-focus: hsl(41, 23%, 70%);
  --input-border: var(--theme-maxcontrast);
  --input-border-incorrect: red;
  --input-border-correct: green;
  --input-border-focus: orange;
  --footer-color: var(--theme-90contrast);
}

body.clar {
  --theme-maxcontrast: hsl(0, 0%, 0%);
  --theme-90contrast: hsl(0, 0%, 10%);
  --theme-80contrast: hsl(0, 0%, 20%);
  --theme-70contrast: hsl(0, 0%, 30%);
  --theme-60contrast: hsl(0, 0%, 40%);
  --theme-50contrast: hsl(0, 0%, 50%);
  --theme-40contrast: hsl(0, 0%, 60%);
  --theme-30contrast: hsl(0, 0%, 70%);
  --theme-20contrast: hsl(0, 0%, 80%);
  --theme-10contrast: hsl(0, 0%, 90%);
  --theme-mincontrast: hsl(0, 0%, 100%);
  --accent-color: hsl(0, 84%, 29%);
  --secondary-accent-color: yellow;
  /*base backgrounds*/
  --body-bg-color: var(--theme-mincontrast);
  --body-bg-image: url(https://www.dndbeyond.com/content/1-0-2187-0/skins/waterdeep/images/background_texture.png);
  --nav-bg-color: var(--theme-10contrast);
  --enllaç-navegació-bg-hover: 90%;
  --nav-bg-image: none;
  /*interactive colors*/
  --button-bg-fallback: yellow;
  --destructiu: linear-gradient(150deg, hsl(0, 91%, 55%), hsl(0, 91%, 35%));
  --destructiu-hover: linear-gradient(150deg, hsl(0, 91%, 70%), hsl(0, 91%, 55%));
  --constructiu: linear-gradient(150deg, hsl(125, 91%, 55%), hsl(125, 91%, 35%));
  --constructiu-hover: linear-gradient(150deg, hsl(125, 91%, 75%), hsl(125, 91%, 55%));
  --neutre: linear-gradient(150deg, hsl(200, 91%, 65%), hsl(200, 91%, 35%));
  --neutre-hover: linear-gradient(150deg, hsl(200, 91%, 75%), hsl(200, 91%, 50%));
  --button-bg: var(--button-bg-fallback);
  --enllaç-navegació-bg-clicked: var(--theme-40contrast);
  --input-border: var(--theme-maxcontrast);
  /*text color*/
  --text-color-general: var(--theme-80contrast);
  --header-color-general: var(--text-color-general);
  --h1-color: var(--header-color-general);
  --h2-color: var(--header-color-general);
  --h3-color: var(--header-color-general);
  --h4-color: var(--header-color-general);
  --p-color: var(--text-color-general);
  --a-color: var(--accent-color);
  --a-selected-color: var(--secondary-accent-color);
}

body.fosc {
  --theme-maxcontrast: hsl(0, 0%, 100%);
  --theme-90contrast: hsl(0, 0%, 90%);
  --theme-80contrast: hsl(0, 0%, 80%);
  --theme-70contrast: hsl(0, 0%, 70%);
  --theme-60contrast: hsl(0, 0%, 60%);
  --theme-50contrast: hsl(0, 0%, 50%);
  --theme-40contrast: hsl(0, 0%, 40%);
  --theme-30contrast: hsl(0, 0%, 30%);
  --theme-20contrast: hsl(0, 0%, 20%);
  --theme-10contrast: hsl(0, 0%, 10%);
  --theme-mincontrast: hsl(0, 0%, 0%);
  --body-bg-color: var(--theme-20contrast);
  --nav-bg-color: var(--theme-30contrast);
  --button-bg-fallback: hsl(60, 70%, 50%);
  --destructiu: linear-gradient(150deg, hsl(0, 91%, 55%), hsl(0, 91%, 35%));
  --destructiu-hover: linear-gradient(150deg, hsl(0, 91%, 70%), hsl(0, 91%, 55%));
  --constructiu: linear-gradient(150deg, hsl(125, 91%, 55%), hsl(125, 91%, 35%));
  --constructiu-hover: linear-gradient(150deg, hsl(125, 91%, 75%), hsl(125, 91%, 55%));
  --neutre: linear-gradient(150deg, hsl(200, 91%, 65%), hsl(200, 91%, 35%));
  --neutre-hover: linear-gradient(150deg, hsl(200, 91%, 75%), hsl(200, 91%, 50%));
  --button-bg: var(--button-bg-fallback);
  --enllaç-navegació-bg-hover: 130%;
  --enllaç-navegació-bg-clicked: var(--theme-50contrast);
  --accent-color: hsl(170, 100%, 50%);
  --secondary-accent-color: rgb(255, 8, 8);
}

body.pergami {
  --HB-bg-color: #2c3e50;
  --PHB-bg-color: #f2ece4;
  --PHB-h1-color: #58180d;
  --PHB-td-color: #e0e5c1;
  --PHB-logo-color: #ed1c24;
  --PHB-underline-color: #f0bf48;
  --PHB-statblocklines: #9c2b1b;
  --scroll: url(/img/temes/scroll.jfif);
  --redscroll: url(/img/temes/redscroll.jpg);
  --bluescroll: url(/img/temes/dark blue.jpg);
  --seascroll: url(/img/temes/sea.jpg);
  --theme-maxcontrast: hsl(0, 0%, 0%);
  --theme-90contrast: hsl(0, 0%, 10%);
  --theme-80contrast: hsl(0, 0%, 20%);
  --theme-70contrast: hsl(0, 0%, 30%);
  --theme-60contrast: hsl(0, 0%, 40%);
  --theme-50contrast: hsl(0, 0%, 50%);
  --theme-40contrast: hsl(0, 0%, 60%);
  --theme-30contrast: hsl(0, 0%, 70%);
  --theme-20contrast: hsl(0, 0%, 80%);
  --theme-10contrast: hsl(0, 0%, 90%);
  --theme-mincontrast: hsl(0, 0%, 100%);
  --accent-color: var(--PHB-statblocklines);
  --secondary-accent-color: var(--PHB-underline-color);
  /*base backgrounds*/
  --body-bg-color: var(--HB-bg-color);
  --body-bg-image: ;
  --content-bg-image: var(--scroll);
  --nav-bg-color: var(--theme-20contrast);
  --enllaç-navegació-bg-hover: 150%;
  --nav-bg-image: var(--redscroll);
  --footer-bg-image: var(--seascroll);
  --nav-shadow: 0px 0px 14px #000;
  /*interactive colors*/
  --button-bg-fallback: yellow;
  --destructiu: linear-gradient(150deg, hsl(0, 91%, 55%), hsl(0, 91%, 35%));
  --destructiu-hover: linear-gradient(150deg, hsl(0, 91%, 70%), hsl(0, 91%, 55%));
  --constructiu: linear-gradient(150deg, hsl(125, 91%, 55%), hsl(125, 91%, 35%));
  --constructiu-hover: linear-gradient(150deg, hsl(125, 91%, 75%), hsl(125, 91%, 55%));
  --neutre: linear-gradient(150deg, hsl(0, 0%, 40%), hsl(0, 0%, 20%));
  --neutre-hover: linear-gradient(150deg, hsl(0, 0%, 70%), hsl(0, 0%, 40%));
  --button-bg: var(--button-bg-fallback);
  --enllaç-navegació-bg-clicked: var(--PHB-statblocklines);
  --input-border: var(--theme-maxcontrast);
  /*text color*/
  --text-color-general: var(--theme-80contrast);
  --header-color-general: var(--PHB-h1-color);
  --nav-color: var(--PHB-bg-color);
  --p-color: var(--text-color-general);
  --a-color: var(--PHB-logo-color);
  --a-selected-color: var(--secondary-accent-color);
  --footer-color: var(--theme-10contrast);
}